<div class="mx-auto md:w-2/3 w-full">
  <h1>Returns</h1>

  <fieldset>
    <div>
      <legend>Return Reasons</legend>
      Add or edit return reasons you would like to show the customers during the return request process.
    </div>

    <div>
      <%= render "form", storefront: @storefront %>
    </div>
  </fieldset>
</div>
