@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
  .btn {
    @apply py-2 px-4 bg-gray-200;
  }
  .btn-danger {
    @apply py-2 px-4 bg-red-200;
  }
}
