@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-black;
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-yellow-400;
  }
  .btn {
    @apply py-2 px-4 bg-gray-200;
  }
  .btn-danger {
    @apply py-2 px-4 bg-red-200;
  }
}

.h1 {
  @apply font-semibold text-2xl;
}

.home {
  @apply shadow-md border-2 border-red-500;
}

.footer {
  width: calc(100% - 250px);
  @apply fixed bottom-0 right-0 bg-white p-2 md:p-4 flex items-center justify-between shadow;
}

.footer .p {
  @apply text-base font-medium;
}
.footer .btn {
  background:rgba(255, 201, 51, 1);
  padding:14px, 24px, 14px, 24px;
  border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
}

.text {
  color: var(--Secondary-Main, #3164F6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}


.ul{
  background-color: #F8F8FB;
  border:1px solid #E3E3E3;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.list {
  border-top: 1px solid #E3E3E3;
  background-color: #F8F8FB;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.modal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
  border-bottom: 1px solid rgba(227, 230, 232, 1);
}
.modalHeading{
    color: var(--Secondary-Main, black);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.hint{
color: var(--Neutral-Dark-Grey, #292929);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
letter-spacing: -0.154px;
margin-top: -10px;
margin-bottom: 20px;
max-width: 544px;
}

.eyeBox{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.eyeText{
  color: var(--Neutral-Dark-Grey, #292929);
/* Body Large/Semi Bold */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}

.eyeHint{
  margin-left: 30px;
}

.dashboard-form-fields{
  margin-top: 20px;
}


.continue{
  border-radius: 8px;
background: #FFC933;
display: flex;
width: 95px;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 4px;
}

.remove{
  display: flex;
width: 95px;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 8px;
border: 2px solid var(--Additional-Error, #EB4747);
color:#EB4747
}

.buttonDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
}

.mainDiv{
  max-width: 750px;
  margin: auto;
}

.edit{
  color: var(--Secondary-Main, #3164F6);
/* Body Large/Semi Bold */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
}

.abbr:where([title]){
  display: none !important;
}


abbr{
  display:none !important;
}